*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #ff0202;
    overflow: hidden;

}

#Bars {
    position: fixed;
    inset:0;
    width:100vw;
    height:100vh;
    display: block;
    background: black;
}

#Album,#SongInfo,#Controls{
    position: relative;
    z-index:10;
}